.App {
  background-color: var(--main-bg-color);
}

.main {
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
}

.content {
  width: 100%;
  overflow-y: auto;
  margin-left: 242px;
  /* padding: 8px 16px ; */
  transition: all var(--anim-2-5);
}

.content.closed {
  margin-left: 0;
}

.screen-content {
  padding: 20px;
}

.crud-container {
  box-sizing: border-box;
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2),
              0px 0px 3px rgba(0, 0, 0, 0.1),
              0px 0px 3px rgba(0, 0, 0, 0.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
