.SearchBar {
}

.SearchBar-main-items {
  display: flex;
  flex-wrap: wrap;
}

.SearchBar-seconday-items {
  height: 0;
  margin-top: 20px;
  white-space: nowrap;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  transition: var(--anim-2-5);
}

.SearchBar-seconday-items.open {
  height: 100px;
}

.SearchBar-main-item {
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.SearchBar-secondary-item {
  max-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.SearchBar-secondary-item--date {
  width: 1000px;
  display: flex;
  gap: 8px;
}

.SearchBar-main-item label,
.SearchBar-secondary-item label {
  font-size: 14px;
  margin-bottom: 4px;
}

.SearchBar-main-item input,
.SearchBar-main-item select,
.SearchBar-secondary-item input,
.SearchBar-secondary-item select {
  border-radius: 4px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.SearchBar-main-item input:focus,
.SearchBar-main-item select:focus {
  outline: none;
  box-shadow: 0 0 3px 1px var(--main-color);
}

.SearchBar-actions {
  margin-top: 12px;
  padding: 12px 0;
  display: flex;
  align-items: center;
}

.SearchBar-actions-icon {
  font-size: 22px;
  color: #fff;
  margin: 0 0 0 4px;
  border-radius: 4px;
  background-color: var(--main-color);
  padding: 4px;
  cursor: pointer;
  transition: all var(--anim-2-5);
}
.SearchBar-actions-icon:hover {
  background-color: #175cac;
}

.SearchBar-actions-icon.button {
  font-size: 16px;
  border: none;
  padding: 6px 8px;
}

.search-bar-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-bar-filter-list-item {
  display: flex;
  margin: 4px 0;
  padding: 4px 8px;
}

.search-bar-filter-list-item input {
  cursor: pointer;
}

.search-bar-filter-list-item:hover {
  background-color: #eeeeee;
}

.search-bar-filter-list-item span {
  display: inline-block;
  font-size: 14px;
  width: 140px;
  cursor: default;
}
